
.container {
    width: 75%;
    margin: 0 auto;
}

.gameBoard {
    width: 600px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template: repeat(2, 200px) / repeat(3, 200px);
    justify-items: center;
    text-align: center;
    align-items: center;
   
}

.fightLauncher {
    grid-column: 2/3;
}

